Modbus-Basic.json
[{"id":"2ac29460.f5cbbc","type":"tab","label":"Gavazzi","disabled":false,"info":""},{"id":"fba24d7c.90928","type":"function","z":"2ac29460.f5cbbc","name":"UInt32BE","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from([msg.payload.buffer[2], msg.payload.buffer[3] , msg.payload.buffer[0] , msg.payload.buffer[1]]);\nvar word  = buf.readUInt32BE() / 100;\nvar timestampPublished = new Date().toISOString()\n\nmsg.payload = word\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["3b16938a.6d462c"]]},{"id":"7e4c72aa.5bf04c","type":"modbus-read","z":"2ac29460.f5cbbc","name":"KWH","topic":"KWH","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"56","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":true,"startDelayTime":"1","server":"d10334de.7c79c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":250,"y":433,"wires":[[],["fba24d7c.90928"]]},{"id":"897eb819.980b88","type":"modbus-read","z":"2ac29460.f5cbbc","name":"V-L-N","topic":"V-L-N","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"2","quantity":"2","rate":"3","rateUnit":"s","delayOnStart":true,"startDelayTime":"1","server":"d10334de.7c79c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":250,"y":133,"wires":[[],["4ae10a5.d6978f4"]]},{"id":"2c02bfb7.341ab","type":"modbus-read","z":"2ac29460.f5cbbc","name":"V-L-L","topic":"V-L-L","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"8","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":true,"startDelayTime":"2","server":"d10334de.7c79c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":250,"y":193,"wires":[[],["3f60ef16.9bbc1"]]},{"id":"52fa4fef.b93b9","type":"modbus-read","z":"2ac29460.f5cbbc","name":"A","topic":"A","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14","quantity":"2","rate":"8","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"d10334de.7c79c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":250,"y":253,"wires":[[],["f985c584.9cc9e8"]]},{"id":"a0b5eea.dd1851","type":"modbus-read","z":"2ac29460.f5cbbc","name":"KW","topic":"KW","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"40","quantity":"2","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"d10334de.7c79c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":250,"y":313,"wires":[[],["6fb32f53.3d19e"]]},{"id":"61c2b2.219dcd5","type":"modbus-read","z":"2ac29460.f5cbbc","name":"KVAR","topic":"KVAR","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"44","quantity":"2","rate":"12","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"d10334de.7c79c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":250,"y":373,"wires":[[],["f186f0cf.6f1b4"]]},{"id":"2f30944b.84e9ac","type":"modbus-read","z":"2ac29460.f5cbbc","name":"HZ","topic":"HZ","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"51","quantity":"1","rate":"36","rateUnit":"s","delayOnStart":true,"startDelayTime":"4","server":"d10334de.7c79c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":250,"y":498,"wires":[["e7e0b2ca.1e41"],[]]},{"id":"add37705.569938","type":"modbus-read","z":"2ac29460.f5cbbc","name":"FP","topic":"FP","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"49","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":true,"startDelayTime":"5","server":"d10334de.7c79c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":250,"y":558,"wires":[["b1232bf6.707308"],[]]},{"id":"e7e0b2ca.1e41","type":"function","z":"2ac29460.f5cbbc","name":"UInt16","func":"var word = msg.payload[0]\nvar timestampPublished = new Date().toISOString()\n\nmsg.payload = word\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":492,"wires":[["2344d427.56716c"]]},{"id":"b1232bf6.707308","type":"function","z":"2ac29460.f5cbbc","name":"UInt16","func":"var word = msg.payload[0] /1000\nvar timestampPublished = new Date().toISOString()\n\nmsg.payload = word\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":551,"wires":[["f8c3c7c1.2a54c8"]]},{"id":"4ae10a5.d6978f4","type":"function","z":"2ac29460.f5cbbc","name":"UInt32BE","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from([msg.payload.buffer[2], msg.payload.buffer[3] , msg.payload.buffer[0] , msg.payload.buffer[1]]);\nvar word  = buf.readUInt32BE() / 10\nvar timestampPublished = new Date().toISOString()\nmsg.payload = word\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["1f796c03.1787b4"]]},{"id":"3f60ef16.9bbc1","type":"function","z":"2ac29460.f5cbbc","name":"UInt32BE","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from([msg.payload.buffer[2], msg.payload.buffer[3] , msg.payload.buffer[0] , msg.payload.buffer[1]])\nvar word  = buf.readUInt32BE() / 10\nvar timestampPublished = new Date().toISOString()\nmsg.payload = word\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["f5916ca8.850e9","9c13b8e9.6a5a88"]]},{"id":"f985c584.9cc9e8","type":"function","z":"2ac29460.f5cbbc","name":"UInt32BE","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from([msg.payload.buffer[2], msg.payload.buffer[3] , msg.payload.buffer[0] , msg.payload.buffer[1]]);\nvar word  = buf.readUInt32BE() / 1000;\nvar timestampPublished = new Date().toISOString()\n\n\nmsg.payload = word  \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["bbe06b54.b40298"]]},{"id":"6fb32f53.3d19e","type":"function","z":"2ac29460.f5cbbc","name":"Int32BE","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from([msg.payload.buffer[2], msg.payload.buffer[3] , msg.payload.buffer[0] , msg.payload.buffer[1]]);\nvar word  = buf.readUInt32BE() / 10000;\nvar timestampPublished = new Date().toISOString()\n\n\nmsg.payload = word \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["f4ac46b5.bd18d8"]]},{"id":"f186f0cf.6f1b4","type":"function","z":"2ac29460.f5cbbc","name":"Int32BE","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from([msg.payload.buffer[2], msg.payload.buffer[3] , msg.payload.buffer[0] , msg.payload.buffer[1]]);\nvar word  = buf.readInt32BE() / 10000;\nvar timestampPublished = new Date().toISOString()\n\nmsg.payload =  word\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["b6e84bb.2ae03b8"]]},{"id":"6b7965e5.51232c","type":"inject","z":"2ac29460.f5cbbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":700,"wires":[["80c4ae47.26a2e"]]},{"id":"80c4ae47.26a2e","type":"udp out","z":"2ac29460.f5cbbc","name":"","addr":"127.0.0.1","iface":"","port":"56789","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":510,"y":700,"wires":[]},{"id":"f5916ca8.850e9","type":"ui_text","z":"2ac29460.f5cbbc","group":"ec6f53b6.c521b","order":1,"width":0,"height":0,"name":"","label":"Tensão Linha-Linha: ","format":"{{msg.payload}}","layout":"row-center","x":640,"y":200,"wires":[]},{"id":"1f796c03.1787b4","type":"ui_text","z":"2ac29460.f5cbbc","group":"ec6f53b6.c521b","order":1,"width":0,"height":0,"name":"","label":"Tensão Linha-Neutro:  ","format":"{{msg.payload}}","layout":"row-center","x":640,"y":140,"wires":[]},{"id":"bbe06b54.b40298","type":"ui_text","z":"2ac29460.f5cbbc","group":"ec6f53b6.c521b","order":1,"width":0,"height":0,"name":"","label":"Corrente: ","format":"{{msg.payload}}","layout":"row-center","x":600,"y":260,"wires":[]},{"id":"f4ac46b5.bd18d8","type":"ui_text","z":"2ac29460.f5cbbc","group":"ec6f53b6.c521b","order":1,"width":0,"height":0,"name":"","label":"Kw:","format":"{{msg.payload}}","layout":"row-center","x":590,"y":320,"wires":[]},{"id":"b6e84bb.2ae03b8","type":"ui_text","z":"2ac29460.f5cbbc","group":"ec6f53b6.c521b","order":1,"width":0,"height":0,"name":"","label":"Kvar:","format":"{{msg.payload}}","layout":"row-center","x":590,"y":380,"wires":[]},{"id":"3b16938a.6d462c","type":"ui_text","z":"2ac29460.f5cbbc","group":"ec6f53b6.c521b","order":1,"width":0,"height":0,"name":"","label":"Consumo :","format":"{{msg.payload}}","layout":"row-center","x":610,"y":440,"wires":[]},{"id":"2344d427.56716c","type":"ui_text","z":"2ac29460.f5cbbc","group":"ec6f53b6.c521b","order":1,"width":0,"height":0,"name":"","label":"Frequencia: ","format":"{{msg.payload}}","layout":"row-center","x":610,"y":500,"wires":[]},{"id":"f8c3c7c1.2a54c8","type":"ui_text","z":"2ac29460.f5cbbc","group":"ec6f53b6.c521b","order":1,"width":0,"height":0,"name":"","label":"Fator de Potência: ","format":"{{msg.payload}}","layout":"row-center","x":630,"y":560,"wires":[]},{"id":"9c13b8e9.6a5a88","type":"ui_chart","z":"2ac29460.f5cbbc","name":"","group":"ec6f53b6.c521b","order":8,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":80,"wires":[[]]},{"id":"d10334de.7c79c8","type":"modbus-client","z":"","name":"Gavazzi","clienttype":"serial","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM5","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"500","unit_id":"1","commandDelay":"50","clientTimeout":"1500","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"ec6f53b6.c521b","type":"ui_group","z":"","name":"inicio","tab":"e272d81d.fc45e8","order":2,"disp":true,"width":"10","collapse":false},{"id":"e272d81d.fc45e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]